<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= applicant.phone %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= applicant.email %>
  </p>
  <p>
    <strong>Other contact:</strong>
    <%= applicant.other_contact %>
  </p>
  <p>
    <strong>Income:</strong>
    <%= applicant.income %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= applicant.location %>
  </p>

  <p>
    <strong>Problems:</strong>
    <%= applicant.problems %>
  </p>

</div>
