<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= applicant.income %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= applicant.location %>
  </p>

  <p>
    <strong>Problems:</strong>
    <%= applicant.problems %>
  </p>

</div>
