<%= form_with(model: applicant) do |form| %>
  <% if applicant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :other_contact, style: "display: block" %>
    <%= form.text_field :other_contact %>
  </div>

  <div>
    <%= form.label :income, style: "display: block" %>
    <%= form.text_field :income %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :problems, style: "display: block" %>
    <%= form.fields_for :problems do |prob| %>
    <% %i{evicted ll_complaint living_conditions relocation_services
                                         house_search
                                         rent_increase}.each do |chk| %>
    <%= prob.check_box chk %><%= prob.label chk %>
    <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
